
<form [formGroup]="compteForm" (ngSubmit)="onSubmit()">
  <div class="form-group" >
      <label>
          Nom
          <input  type="text"  class="form-control" formControlName="name" placeholder="Entrez votre nom" >
      </label>
      <div *ngIf="name.invalid && name.errors.number">
        <p class="has-error">Votre nom ne peut pas contenir de numéro.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
          Prénom
          <input type="text"  class="form-control" formControlName="surname"  placeholder="Entrez votre prénom" >
      </label>
       <div *ngIf="surname.invalid && surname.errors.number">
        <p class="has-error">Votre prénom ne peut pas contenir de numéro.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
          Adresse
          <input type="text" class="form-control" formControlName="address"  placeholder="Entrez votre adresse" >
      </label>
     
  </div>
  <div class="form-group">
      <label>
          Code postal
          <input type="text" class="form-control" formControlName="postalCode"  placeholder="Entrez votre code postal" >
      </label>
      <div *ngIf="postalCode.invalid && postalCode.errors.notPostalCode">
        <p class="has-error">Code postal invalide.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
            Ville
          <input type="text" class="form-control" formControlName="city"  placeholder="Entrez votre ville" >
      </label>
       <div *ngIf="city.invalid && city.errors.number">
        <p class="has-error">Votre ville ne peut pas contenir de numéro.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
          Téléphone Mobile
          <input type="tel" class="form-control" formControlName="mobilePhone"  placeholder="Entrez votre numéro de téléphone mobile" [value]="mobilePhone.value | formatPhone" >
      </label>
      <div *ngIf="mobilePhone.invalid && mobilePhone.errors.notPhone">
        <p class="has-error">Le numéro de téléphone renseigné est invalide.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
          Adresse E-mail
          <input type="email"  class="form-control" formControlName="mail"  placeholder="Entrez votre adresse e-mail" >
      </label>
      <div *ngIf="mail.invalid && mail.errors.notAnEmailAddress">
        <p class="has-error">L'adresse mail entrée est invalide.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
          Civilité
          <select class="form-control" formControlName="gender">
              <option *ngFor="let value of genderOptions" [ngValue]="value">
                {{value}}
              </option>             
          </select>
      </label>
  </div>
  <div class="form-group">
    <label>
      Pays
      <input type="text" class="form-control" formControlName="country" placeholder="Entrez votre pays">
    </label>
     <div *ngIf="country.invalid && country.errors.number">
        <p class="has-error">Votre pays ne peut pas contenir de numéro.</p>
    </div>
  </div>
  <div class="form-group">
      <label>
          Identifiant
          <input type="text" class="form-control" formControlName="login"  placeholder="Entrez votre identifiant" >
      </label>
  </div>
  <div class="form-group">
      <label>
          Mot de passe
          <input type="password"  id="pass" formControlName="password"  class="form-control" >
      </label>
  </div>
  <div class="form-group" >
      <label>
          Confirmation du mot de passe
          <input type="password" appMatch [valueToConfirm]="password.value" id="passConfirm" formControlName="passwordConfirm"  class="form-control" >
      </label>
  </div>

  <button type="submit"  class="btn btn-primary" [disabled]="!compteForm.valid">Submit</button>
</form>